.choices-buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;
}

.choices-backButton {
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 75, 12, .50);
    border-radius: 25px;
    margin: 10px;
}

.choices-backButtonText {
    color: white;
}

.choices-confirmButton {
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 195, 38, .50);
    border-radius: 25px;
    margin: 10px;
}

.choices-confirmButtonText {
    color: white;
}